html, body {
  margin: 0;
  padding: 0;
}

body, html, textarea, input, select, button, ul, li, ol, a, h1, h2, h3, h4, h5, h6, p  {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  list-style-type: none;
  font-family: sans-serif;
  text-decoration: none;
}


.container {
  margin: auto;
  overflow: hidden;
  @media (min-width: 300px) {
    padding: 0 24px;
  }
  @media (min-width: 768px) {
    padding: 0 40px;
  }
  @media (min-width: 976px) {
    max-width: 864px;
  }

  @media (min-width: 1336px) {
    padding: 0 70px;
    max-width: 1440px;
  }

  @media (min-width: 1750px) {
    max-width: 1440px;
  }

  @media (min-width: 1920px) {
    max-width: 1440px;
  }
}

// Animation
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}