$blue: #264ECA;

$x-lg: "screen and (max-width: 1620px)";
$lg: "screen and (max-width: 1440px)";
$x-md: "screen and (max-width: 1336px)";
$xs-md: "screen and (max-width: 1064px)";
$md: "screen and (max-width: 976px)";
$sm: "screen and (max-width: 768px)";
$x-sm: "screen and (max-width: 576px)";
$xx-sm: "screen and (max-width: 375px)";